@font-face {
    font-family: "ManropeLight";
    src: url("../assets/fonts/Manrope-Medium.ttf") format("truetype");
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
#landing-page {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-color: #14bdac;
    overflow: hidden;
}
.level {
    font-size: 60px;
    font-family: "ManropeLight";
    text-align: center;
    width: fit-content;
    margin: auto;
    
}
#difficulty-buttons-list {
    position: relative;
    top: 56px;
    width: fit-content;
    margin: auto;
    list-style-type: none;
}